*.java text eol=lf
*.json text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.md text eol=lf
gradlew text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.sha256 text eol=lf
*.yml text eol=lf
